.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.2fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

