<div id="main-container">

    <div class="header">
        <h1>Sunburst</h1>
        <h3>Wake up!</h3>
    </div>

    <div class="subheader-container">
        <button routerLink="/shop">Browse our inventory</button>
        <div class="subheader-row">
            <img src="https://spiritsunburst.blob.core.windows.net/images/lotus-flower.jpg?sp=r&st=2023-08-03T17:52:22Z&se=2023-08-22T01:52:22Z&spr=https&sv=2022-11-02&sr=b&sig=FNuM2YJILQ87X%2BqadMjswOUEMj9%2B6%2F3eIpLfYC0HqBg%3D"
                alt="ying-yang-main">
            <p class="main-description">
                The lotus flower is a universal symbol of purity and enlightenment across various spiritual traditions.
                Just like the lotus, we believe that all religions and spiritual paths lead to the same source of truth
                and understanding.
            </p>
        </div>
        <div class="subheader-row">
            <p class="main-description">
                Mandala, a sacred geometric pattern, represents the interconnectedness of all things. In our gift shop,
                you will find a variety of mandala-inspired art and items, reminding us of the unity and harmony that
                exists among different spiritual practices.
            </p>
            <img src="https://spiritsunburst.blob.core.windows.net/images/mandala.jpg?sp=r&st=2023-08-03T17:52:59Z&se=2023-08-22T01:52:59Z&spr=https&sv=2022-11-02&sr=b&sig=8sY2Xx5%2BS0vcLflXM0U4KkIYmZSp5qsYa5nBvx%2FWiFw%3D"
                alt="ying-yang-main">
        </div>
        <div class="subheader-row">
            <img src="https://spiritsunburst.blob.core.windows.net/images/the-om-symbol.jpg?sp=r&st=2023-08-03T17:53:21Z&se=2023-08-22T01:53:21Z&spr=https&sv=2022-11-02&sr=b&sig=Kew8VsC2QdkZ29UPIAl2Y60SdayhO13KTKohbf4eRcE%3D"
                alt="ying-yang-main">
            <p class="main-description">
                The Om symbol is considered one of the most sacred symbols in Hinduism, Buddhism, and other traditions.
                It embodies the essence of the universe and represents the ultimate reality. We embrace the message of
                unity that this ancient symbol imparts.
            </p>
        </div>
    </div>
</div>